
#searchInDataTableInput {
  background-image: url('/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 30%;
  font-size: 14x;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  float: left;
}

#dataTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 12px;
}

#dataTable th, #dataTable td {
  text-align: left;
  padding: 10px;
}

#dataTable tr {
  border-bottom: 1px solid #ddd;
}

#dataTable tr.header, #dataTable tr:hover {
  background-color: #f1f1f1;
}

