
#searchInDataTableInput {
  background-image: url('../searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 30%;
  font-size: 14x;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  float: left;
}

#dataTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 12px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

#dataTable th, #dataTable td {
  text-align: left;
  padding: 1px;
  border: 1px solid #ddd;
}

#dataTable tr {
  border-bottom: 1px solid #ddd;
}

#dataTable tr.header, #dataTable tr:hover {
  background-color: #f1f1f1;
}

.pagination-btn{
	float: left;
	color: #333;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #AAA;
	margin:2px;
	min-width: 14px;
	padding:  0 7px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	
}
