<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
   
 <div class="row">
        {% for image in images %}

            <div class="gallery-image col2 span2">

                {# Allow passing in descrtipton to ovveride #}
                {% if not image.description %}

                    {# Check we have package_name and resource_id - these are set up in template variables
                    for the main gallery view, but this snippet can be used elsewhere #}
                    {% if package_name and resource_id %}
                        {% set url = h.url_for(controller='ckanext.nhm.controllers.record:RecordController', action='view', package_name=package_name, resource_id=resource_id, record_id=image['record_id']) %}
                        {#% set description = "<a href='%s'>View</a>" % url %#}
			{% set descripcion_string = "" %} 			
			{% if image.record %}			
			   {% for key  in image['record'] %}
			      {% set description_string = key['_id'] %}			
			   {% endfor %}
			   {% set description = "<p class='%s'> Dato {{ description_string }}</p>" % description_string %}
			{% else %}
			   {% set description = "<a href='%s'>No Image Data</a>" % url %}			
			{% endif %}                  
		    {% endif %}

                {% else %}
                    {% set description = image.description %}
                {%  endif %}

			


                <a href="{{ image.url }}" title="{{ image.modal_title if image.modal_title else '' }}" data-gallery="gallery" data-description="{{ description }}" class="gallery-thumbnail">
                    <img src="{{ image.thumbnail or image.url }}" alt="{{ image.gallery_title or image.modal_title }}" />
                </a>
                {% if image.gallery_title %}
                    <p>{{ image.gallery_title }}</p>
                {% endif %}
		
		<p>
		{% if image['record'] %}
			<!--<p>{{ image['record'] }} </p> -->
			<p> {{ image['record']['_id'] }} </p> 
   			{% for record in image['record'] %}			
         	  		<p> Imprimiendo el valor de cada campo  </p>
				<p>{{ record }} </p> 
				<p> {{ image['record']['{{ record }}'] }} </p>
			{% endfor %}
		{% else %}
 		  <p>No data in image['record']</p>
		{% endif %}
		</p>

<table>
{% if image['users'] %}
   {% for user in image['users'] %}
   <tr><td>{{ user['first_name'] }}</td></tr>
   {% endfor %}
{% else %}
 <p>No data in image['users']</p>
{% endif %}
</table>

            </div>
        {% endfor %}
    </div>
  </div>

{% resource 'ckanext-gallery/main' %}

{% include "gallery/snippets/lightbox.html" %}
